USE [CRMFacilitoInicial]
GO
/****** Object:  Table [dbo].[TipoClientes]    Script Date: 03/13/2017 10:09:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoClientes](
	[TipoClienteId] [int] IDENTITY(1,1) NOT NULL,
	[NombreTipo] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.TipoClientes] PRIMARY KEY CLUSTERED 
(
	[TipoClienteId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TipoClientes] ON
INSERT [dbo].[TipoClientes] ([TipoClienteId], [NombreTipo]) VALUES (1, N'PROSPECTO')
INSERT [dbo].[TipoClientes] ([TipoClienteId], [NombreTipo]) VALUES (2, N'CLIENTE')
SET IDENTITY_INSERT [dbo].[TipoClientes] OFF
/****** Object:  Table [dbo].[TipoActividads]    Script Date: 03/13/2017 10:09:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoActividads](
	[TipoActividadId] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.TipoActividads] PRIMARY KEY CLUSTERED 
(
	[TipoActividadId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TipoActividads] ON
INSERT [dbo].[TipoActividads] ([TipoActividadId], [Descripcion]) VALUES (6, N'LLAMADA')
INSERT [dbo].[TipoActividads] ([TipoActividadId], [Descripcion]) VALUES (7, N'COTIZACION')
INSERT [dbo].[TipoActividads] ([TipoActividadId], [Descripcion]) VALUES (8, N'PEDIDO')
SET IDENTITY_INSERT [dbo].[TipoActividads] OFF
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 03/13/2017 10:09:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 03/13/2017 10:09:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'8f85590c-1648-4595-83f0-adddc59bd39d', N'Admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'8a03b90b-830c-4ea4-92aa-ef8350a5f40c', N'AdminAgenda')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'e45fe678-e65d-4f76-aa62-57689399f06b', N'AdminClientes')
/****** Object:  Table [dbo].[Campanias]    Script Date: 03/13/2017 10:09:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Campanias](
	[CampaniaId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NULL,
	[FechaPlan] [datetime] NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Publicada] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Campanias] PRIMARY KEY CLUSTERED 
(
	[CampaniaId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Campanias] ON
INSERT [dbo].[Campanias] ([CampaniaId], [Nombre], [FechaPlan], [Fecha], [Publicada]) VALUES (6, N'Platica de portales de internet', CAST(0x0000A69200000000 AS DateTime), CAST(0x0000A69200000000 AS DateTime), 0)
INSERT [dbo].[Campanias] ([CampaniaId], [Nombre], [FechaPlan], [Fecha], [Publicada]) VALUES (9, N'Curso', CAST(0x0000A58000000000 AS DateTime), CAST(0x0000A58000000000 AS DateTime), 0)
INSERT [dbo].[Campanias] ([CampaniaId], [Nombre], [FechaPlan], [Fecha], [Publicada]) VALUES (11, N'Presentación de expea', CAST(0x0000A59C00000000 AS DateTime), CAST(0x0000A59C00000000 AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Campanias] OFF
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 03/13/2017 10:09:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[NombreCompleto] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [NombreCompleto]) VALUES (N'bf88271a-3680-44b4-95db-f5d5fd17e1fe', N'asanchez@hotmail.com', 0, N'AGAj+VRwNWInT7o6sJf5meK+wBPimIETrkbtAzO4i2h3hpBs2c/W8+kVTA+1DYDx8A==', N'c73a99c4-e51c-4777-905f-f3e50eebcb91', NULL, 0, 0, NULL, 1, 0, N'asanchez', N'Abimael Sanchez J')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [NombreCompleto]) VALUES (N'c17c6178-8164-4c40-ada3-0dd53dcede2b', N'marclinux@yahoo.com', 0, N'AASl+rHOal1PkQBYKXwqm7YJ+3kwPmsx0trnJ158rYQFuJCXRWuRUTim8BL+5CXXLg==', N'88db1231-c6bd-488d-b06a-4eaebb55b4ce', NULL, 0, 0, NULL, 1, 0, N'mhernandez', N'Marcos Hernandez')
/****** Object:  Table [dbo].[Contactoes]    Script Date: 03/13/2017 10:09:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contactoes](
	[ContactoId] [int] IDENTITY(1,1) NOT NULL,
	[NombreCompleto] [nvarchar](max) NULL,
	[Principal] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Contactoes] PRIMARY KEY CLUSTERED 
(
	[ContactoId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 03/13/2017 10:09:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[ClienteId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NULL,
	[RFC] [nvarchar](max) NULL,
	[TipoPersonaSat] [nvarchar](max) NULL,
	[ContactoCliente_ContactoId] [int] NULL,
	[TipoClienteId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Clientes] PRIMARY KEY CLUSTERED 
(
	[ClienteId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Clientes] ON
INSERT [dbo].[Clientes] ([ClienteId], [Nombre], [RFC], [TipoPersonaSat], [ContactoCliente_ContactoId], [TipoClienteId]) VALUES (12, N'Marcos Hernandez', NULL, NULL, NULL, 1)
INSERT [dbo].[Clientes] ([ClienteId], [Nombre], [RFC], [TipoPersonaSat], [ContactoCliente_ContactoId], [TipoClienteId]) VALUES (13, N'Pedro Perez', NULL, NULL, NULL, 1)
INSERT [dbo].[Clientes] ([ClienteId], [Nombre], [RFC], [TipoPersonaSat], [ContactoCliente_ContactoId], [TipoClienteId]) VALUES (15, N'Daniel Perez', NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[Clientes] OFF
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 03/13/2017 10:09:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'bf88271a-3680-44b4-95db-f5d5fd17e1fe', N'84bb6aa9-2aea-4f8b-9a91-716b794f1fcc')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'bf88271a-3680-44b4-95db-f5d5fd17e1fe', N'8a03b90b-830c-4ea4-92aa-ef8350a5f40c')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'bf88271a-3680-44b4-95db-f5d5fd17e1fe', N'8f85590c-1648-4595-83f0-adddc59bd39d')
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 03/13/2017 10:09:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 03/13/2017 10:09:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Actividads]    Script Date: 03/13/2017 10:09:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Actividads](
	[ActividadId] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](max) NULL,
	[FechaInicial] [datetime] NOT NULL,
	[FechaFinal] [datetime] NOT NULL,
	[FechaInicialPlan] [datetime] NOT NULL,
	[FechaFinalPlan] [datetime] NOT NULL,
	[Estado] [int] NOT NULL,
	[CampaniaId] [int] NULL,
	[ClienteId] [int] NOT NULL,
	[TipoActividadId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Actividads] PRIMARY KEY CLUSTERED 
(
	[ActividadId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Actividads] ON
INSERT [dbo].[Actividads] ([ActividadId], [Descripcion], [FechaInicial], [FechaFinal], [FechaInicialPlan], [FechaFinalPlan], [Estado], [CampaniaId], [ClienteId], [TipoActividadId]) VALUES (28, N'Llamar a Marcos para evaluar curso de C#', CAST(0x0000A67800000000 AS DateTime), CAST(0x0000A67800000000 AS DateTime), CAST(0x0000A67800000000 AS DateTime), CAST(0x0000A67800000000 AS DateTime), 0, NULL, 12, 6)
INSERT [dbo].[Actividads] ([ActividadId], [Descripcion], [FechaInicial], [FechaFinal], [FechaInicialPlan], [FechaFinalPlan], [Estado], [CampaniaId], [ClienteId], [TipoActividadId]) VALUES (31, N'Llamar por telefono al cliente para la campaña Curso', CAST(0x0000A57100000000 AS DateTime), CAST(0x0000A57100000000 AS DateTime), CAST(0x0000A57100000000 AS DateTime), CAST(0x0000A57100000000 AS DateTime), 0, 9, 12, 6)
INSERT [dbo].[Actividads] ([ActividadId], [Descripcion], [FechaInicial], [FechaFinal], [FechaInicialPlan], [FechaFinalPlan], [Estado], [CampaniaId], [ClienteId], [TipoActividadId]) VALUES (32, N'Llamar por telefono al cliente para la campaña Curso', CAST(0x0000A57100000000 AS DateTime), CAST(0x0000A57100000000 AS DateTime), CAST(0x0000A57100000000 AS DateTime), CAST(0x0000A57100000000 AS DateTime), 0, 9, 13, 6)
SET IDENTITY_INSERT [dbo].[Actividads] OFF
/****** Object:  Table [dbo].[Telefonoes]    Script Date: 03/13/2017 10:09:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Telefonoes](
	[TelefonoId] [int] IDENTITY(1,1) NOT NULL,
	[NumeroTelefonico] [nvarchar](max) NULL,
	[Tipo] [nvarchar](max) NULL,
	[Principal] [bit] NOT NULL,
	[Contacto_ContactoId] [int] NULL,
	[Cliente_ClienteId] [int] NULL,
 CONSTRAINT [PK_dbo.Telefonoes] PRIMARY KEY CLUSTERED 
(
	[TelefonoId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Telefonoes] ON
INSERT [dbo].[Telefonoes] ([TelefonoId], [NumeroTelefonico], [Tipo], [Principal], [Contacto_ContactoId], [Cliente_ClienteId]) VALUES (19, N'54656', N'casa', 1, NULL, 15)
INSERT [dbo].[Telefonoes] ([TelefonoId], [NumeroTelefonico], [Tipo], [Principal], [Contacto_ContactoId], [Cliente_ClienteId]) VALUES (22, N'23333', N'CASA', 1, NULL, 17)
INSERT [dbo].[Telefonoes] ([TelefonoId], [NumeroTelefonico], [Tipo], [Principal], [Contacto_ContactoId], [Cliente_ClienteId]) VALUES (23, N'96322222', N'casa', 1, NULL, 12)
SET IDENTITY_INSERT [dbo].[Telefonoes] OFF
/****** Object:  Table [dbo].[Emails]    Script Date: 03/13/2017 10:09:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Emails](
	[EmailId] [int] IDENTITY(1,1) NOT NULL,
	[Direccion] [nvarchar](max) NULL,
	[Principal] [bit] NOT NULL,
	[Contacto_ContactoId] [int] NULL,
	[Cliente_ClienteId] [int] NULL,
 CONSTRAINT [PK_dbo.Emails] PRIMARY KEY CLUSTERED 
(
	[EmailId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Emails] ON
INSERT [dbo].[Emails] ([EmailId], [Direccion], [Principal], [Contacto_ContactoId], [Cliente_ClienteId]) VALUES (11, N'dperez@expea.mx', 1, NULL, 15)
INSERT [dbo].[Emails] ([EmailId], [Direccion], [Principal], [Contacto_ContactoId], [Cliente_ClienteId]) VALUES (14, N'grios@hotmail.com', 1, NULL, 17)
SET IDENTITY_INSERT [dbo].[Emails] OFF
/****** Object:  Table [dbo].[Direccions]    Script Date: 03/13/2017 10:09:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Direccions](
	[DireccionId] [int] IDENTITY(1,1) NOT NULL,
	[Calle] [nvarchar](max) NULL,
	[NumExterior] [nvarchar](max) NULL,
	[NumInterior] [nvarchar](max) NULL,
	[Colonia] [nvarchar](max) NULL,
	[Municipio] [nvarchar](max) NULL,
	[Estado] [nvarchar](max) NULL,
	[Principal] [bit] NOT NULL,
	[Contacto_ContactoId] [int] NULL,
	[Cliente_ClienteId] [int] NULL,
 CONSTRAINT [PK_dbo.Direccions] PRIMARY KEY CLUSTERED 
(
	[DireccionId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Direccions] ON
INSERT [dbo].[Direccions] ([DireccionId], [Calle], [NumExterior], [NumInterior], [Colonia], [Municipio], [Estado], [Principal], [Contacto_ContactoId], [Cliente_ClienteId]) VALUES (11, N'3a sur poniente', N'233', NULL, N'centro', N'Tuxtla Gutierrez', N'Chiapas', 1, NULL, 15)
INSERT [dbo].[Direccions] ([DireccionId], [Calle], [NumExterior], [NumInterior], [Colonia], [Municipio], [Estado], [Principal], [Contacto_ContactoId], [Cliente_ClienteId]) VALUES (14, N'Av Tigre', N'119', NULL, N'Fracc La Cueva del Jaguar', N'Tuxtla Gutierrez', N'Chiapas', 1, NULL, 17)
SET IDENTITY_INSERT [dbo].[Direccions] OFF
/****** Object:  Default [DF__Campanias__Publi__4D94879B]    Script Date: 03/13/2017 10:09:29 ******/
ALTER TABLE [dbo].[Campanias] ADD  DEFAULT ((0)) FOR [Publicada]
GO
/****** Object:  ForeignKey [FK_dbo.Actividads_dbo.Campanias_CampaniaAct_CampaniaId]    Script Date: 03/13/2017 10:09:29 ******/
ALTER TABLE [dbo].[Actividads]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Actividads_dbo.Campanias_CampaniaAct_CampaniaId] FOREIGN KEY([CampaniaId])
REFERENCES [dbo].[Campanias] ([CampaniaId])
GO
ALTER TABLE [dbo].[Actividads] CHECK CONSTRAINT [FK_dbo.Actividads_dbo.Campanias_CampaniaAct_CampaniaId]
GO
/****** Object:  ForeignKey [FK_dbo.Actividads_dbo.Clientes_ClienteId]    Script Date: 03/13/2017 10:09:29 ******/
ALTER TABLE [dbo].[Actividads]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Actividads_dbo.Clientes_ClienteId] FOREIGN KEY([ClienteId])
REFERENCES [dbo].[Clientes] ([ClienteId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Actividads] CHECK CONSTRAINT [FK_dbo.Actividads_dbo.Clientes_ClienteId]
GO
/****** Object:  ForeignKey [FK_dbo.Actividads_dbo.TipoActividads_TipoActividadId]    Script Date: 03/13/2017 10:09:29 ******/
ALTER TABLE [dbo].[Actividads]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Actividads_dbo.TipoActividads_TipoActividadId] FOREIGN KEY([TipoActividadId])
REFERENCES [dbo].[TipoActividads] ([TipoActividadId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Actividads] CHECK CONSTRAINT [FK_dbo.Actividads_dbo.TipoActividads_TipoActividadId]
GO
/****** Object:  ForeignKey [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]    Script Date: 03/13/2017 10:09:29 ******/
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]    Script Date: 03/13/2017 10:09:29 ******/
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]    Script Date: 03/13/2017 10:09:29 ******/
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
/****** Object:  ForeignKey [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]    Script Date: 03/13/2017 10:09:29 ******/
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.Clientes_dbo.Contactoes_ContactoCliente_ContactoId]    Script Date: 03/13/2017 10:09:29 ******/
ALTER TABLE [dbo].[Clientes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Clientes_dbo.Contactoes_ContactoCliente_ContactoId] FOREIGN KEY([ContactoCliente_ContactoId])
REFERENCES [dbo].[Contactoes] ([ContactoId])
GO
ALTER TABLE [dbo].[Clientes] CHECK CONSTRAINT [FK_dbo.Clientes_dbo.Contactoes_ContactoCliente_ContactoId]
GO
/****** Object:  ForeignKey [FK_dbo.Clientes_dbo.TipoClientes_TipoClienteId]    Script Date: 03/13/2017 10:09:29 ******/
ALTER TABLE [dbo].[Clientes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Clientes_dbo.TipoClientes_TipoClienteId] FOREIGN KEY([TipoClienteId])
REFERENCES [dbo].[TipoClientes] ([TipoClienteId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Clientes] CHECK CONSTRAINT [FK_dbo.Clientes_dbo.TipoClientes_TipoClienteId]
GO
/****** Object:  ForeignKey [FK_dbo.Direccions_dbo.Clientes_Cliente_ClienteId]    Script Date: 03/13/2017 10:09:29 ******/
ALTER TABLE [dbo].[Direccions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Direccions_dbo.Clientes_Cliente_ClienteId] FOREIGN KEY([Cliente_ClienteId])
REFERENCES [dbo].[Clientes] ([ClienteId])
GO
ALTER TABLE [dbo].[Direccions] CHECK CONSTRAINT [FK_dbo.Direccions_dbo.Clientes_Cliente_ClienteId]
GO
/****** Object:  ForeignKey [FK_dbo.Direccions_dbo.Contactoes_Contacto_ContactoId]    Script Date: 03/13/2017 10:09:29 ******/
ALTER TABLE [dbo].[Direccions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Direccions_dbo.Contactoes_Contacto_ContactoId] FOREIGN KEY([Contacto_ContactoId])
REFERENCES [dbo].[Contactoes] ([ContactoId])
GO
ALTER TABLE [dbo].[Direccions] CHECK CONSTRAINT [FK_dbo.Direccions_dbo.Contactoes_Contacto_ContactoId]
GO
/****** Object:  ForeignKey [FK_dbo.Emails_dbo.Clientes_Cliente_ClienteId]    Script Date: 03/13/2017 10:09:29 ******/
ALTER TABLE [dbo].[Emails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Emails_dbo.Clientes_Cliente_ClienteId] FOREIGN KEY([Cliente_ClienteId])
REFERENCES [dbo].[Clientes] ([ClienteId])
GO
ALTER TABLE [dbo].[Emails] CHECK CONSTRAINT [FK_dbo.Emails_dbo.Clientes_Cliente_ClienteId]
GO
/****** Object:  ForeignKey [FK_dbo.Emails_dbo.Contactoes_Contacto_ContactoId]    Script Date: 03/13/2017 10:09:29 ******/
ALTER TABLE [dbo].[Emails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Emails_dbo.Contactoes_Contacto_ContactoId] FOREIGN KEY([Contacto_ContactoId])
REFERENCES [dbo].[Contactoes] ([ContactoId])
GO
ALTER TABLE [dbo].[Emails] CHECK CONSTRAINT [FK_dbo.Emails_dbo.Contactoes_Contacto_ContactoId]
GO
/****** Object:  ForeignKey [FK_dbo.Telefonoes_dbo.Clientes_Cliente_ClienteId]    Script Date: 03/13/2017 10:09:29 ******/
ALTER TABLE [dbo].[Telefonoes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Telefonoes_dbo.Clientes_Cliente_ClienteId] FOREIGN KEY([Cliente_ClienteId])
REFERENCES [dbo].[Clientes] ([ClienteId])
GO
ALTER TABLE [dbo].[Telefonoes] CHECK CONSTRAINT [FK_dbo.Telefonoes_dbo.Clientes_Cliente_ClienteId]
GO
/****** Object:  ForeignKey [FK_dbo.Telefonoes_dbo.Contactoes_Contacto_ContactoId]    Script Date: 03/13/2017 10:09:29 ******/
ALTER TABLE [dbo].[Telefonoes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Telefonoes_dbo.Contactoes_Contacto_ContactoId] FOREIGN KEY([Contacto_ContactoId])
REFERENCES [dbo].[Contactoes] ([ContactoId])
GO
ALTER TABLE [dbo].[Telefonoes] CHECK CONSTRAINT [FK_dbo.Telefonoes_dbo.Contactoes_Contacto_ContactoId]
GO
